<div ng-controller="downloadCtrl" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> Download files </h3>
    </div>
    <div class="panel-body">
        <div class="input-group">
			<input type="text" ng-model="from" class="form-control">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="list();"> List files </button>
			</span>
		</div>
    </div>
    <table class="table" ng-if="files.length">
		<tr>
			<th> Name </th>
			<th> Size (bytes) </th>
			<th></th>
		</tr>
		<tr ng-repeat="file in files">
			<td ng-bind="file.name"></td>
			<td ng-bind="file.size"></td>
			<td style="width: 200px;">
				<a ng-if="!file.downloaded" href="javascript:void(0);" ng-click="download(file);">
					download
				</a>
				<a ng-if="file.data" href="javascript:void(0);" ng-click="save(file);">
					save
				</a>
				<div ng-if="file.downloaded && !file.data" class="progress" style="margin-bottom: 0;">
					<div
						class="progress-bar progress-bar-info"
						ng-style="{ 'width': file.downloaded / file.size * 100 + '%' }">
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>