<div ng-controller="shareCtrl" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> Share files </h3>
    </div>
    <div class="panel-body">
    	<p>
	    	Copy this key to list available files: 
	    	<code ng-bind="socketId"></code>
    	</p>
        <cd-file ng-model="files"></cd-file>
    </div>
    <table class="table" ng-if="files.length">
		<tr>
			<th> Name </th>
			<th> Size (bytes) </th>
			<th></th>
		</tr>
		<tr ng-repeat="file in files">
			<td ng-bind="file.name"></td>
			<td ng-bind="file.size"></td>
			<td></td>
		</tr>
	</table>
</div>